<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="OtherPcName" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <appSettings>
    <add key="lazy" value="true" />
    <add key="root" value="%USERPROFILE%\TaskbarToolbar" />
    <add key="sort.prefix" value="^\d+_" />
  </appSettings>

  <OtherPcName>
    <add key="root" value="%USERPROFILE%\TbMenu" />
  </OtherPcName>

</configuration>
